html, body {
	margin: 0;
	padding: 0;
	font-size: 10px;
	background-color: #f0f0f0;
} 
body {
	height: 100%;
	display: block;
	overflow: hidden;
    font-size: 16px;
} 
section[role="region"] {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #FFFEEE;
} 
.back-home {
	z-index: 0;
}
#home-view {
	width: 100%;
	left: 0%;
}

#repeat-select {
	visibility:hidden;
}

/*Section transition specific
	-- Article view
*/
.move-Article-view  {
	z-index: 10;
	transform: translateX(-100%);
	transition: all 0.2s;
}
.back-Article-view  {
	z-index: 10;	
	transform: translateX(0%);
	transition: all 0.4s;
}

#article-view {
	width: 100%;
	left: 100%;
}
#article_content_container {
    font-size: 1.9rem;
    overflow : auto;
    min-height: 100vh;
}
#article_content_container progress{
  text-align:center;
}
/*
	-- Settings view
*/
.move-Settings-view  {
	z-index: 10;
	transform: translateX(-100%);
	transition: all 0.2s;
}
.back-Settings-view  {
	z-index: 10;	
	transform: translateX(0%);
	transition: all 0.4s;
}

#settings-view {
	width: 100%;
	left: 100%;
}
#settings_content_container {
    font-size: 1.9rem;
    overflow : auto;
}

/*General CSS*/
#articles_container {
    overflow : auto;
}

#options_container {
	display:none;
}
#article_options_container {
	display:none;
}
#sort_options {
	display:none;
}
#skin_options {
	display:none;
}
#general_skin_options {
	display:none;
}
.timestamp {
	visibility: hidden;
}

.favorite {
	visibility: hidden;
}
.status {
	visibility: hidden;
}

#img-span {
	margin-top:25px;
	padding-left:calc(50% - 12px);
}

menu {
	color: white;
}

#article_content{
  line-height: 1.8em;
  padding-right: 0.5em;
  padding-left: 0.5em;
  background-color: #EfE0B9;
  color: #643B0F;
}

#article_content h1,h2,h3{
  /*line-height: 2.0rem;*/
  font-weight:bold;
}

#article_content img {
  width: 100%;
}

section[role="region"] > header:first-child {
  background-color:#880000;
}

#appList {
  background-color: #EfE0B9;
}
